.container {
  width: fit-content;
  background: white;
  border-radius: 15px;
  padding: 2%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3%;
}

.card {
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.header {
  color: #262626;
  padding: 1.5% 4%;
  border-bottom: 2px solid #262626;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}

.header {
  color: #262626;
  padding: 1.5% 2%;
  border-bottom: 2px solid #262626;
  font-size: large;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}
