body {
  background-image: url("pictures/miku2.jpg");
  justify-content: center;
  
}
.main {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 10px; /* Smaller rounded edges */
  width: 90%;
}

.mainCont {
  display: flex;
  justify-content: center;
}
.main-L {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 40px;
}
.main-R {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  
}

.desk {
  display: flex;
  gap: 4%;
  
}

.langUni {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-link {
  color: #33ff33; /* same green as your body text */
  text-decoration: underline; /* keep or remove, your call */
}
.profile-link:visited {
  color: #33ff33; /* prevents purple after clicking */
}
