body {
  background-image: url("pictures/miku22.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  min-height: 100vh;
}
.main {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 10px; /* Smaller rounded edges */
  width: 90%;
}


.mainCont {
  display: flex;
  justify-content: center;
}
.main-L {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 40px;
}
.main-R {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.desk {
    display: flex;
  gap: 4%;
  padding-left: 4.5%;
  padding-right: 4.5%;
  box-sizing: border-box;
  width: 100%;
}


.langUni {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-link {
  color: #ff33e7; /* same green as your body text */
  text-decoration: underline; /* keep or remove, your call */
}
.profile-link:visited {
  color: #efc7ea; /* prevents purple after clicking */
}
