@media (max-width: 1420px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  .main-L {
    display: flex;
    flex-direction: row !important; /* Ensure row layout */

    width: 100% !important; /* Make sure it stretches */
  }
  .introductionCont {
    width: 55% !important;
    height: auto;
  }
}

/*-------------max-width: 1565px-------------*/
@media (max-width: 1565px) {
  .headNav {
    padding-top: 1%;
  }

  .navTags {
    padding-top: 2%;
    display: flex;

    justify-content: space-between !important;
  }

  .tag {
    display: none;
  }
}

@media (max-width: 1000px) {
  .headNav {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
  }
  .navContact {
    width: 100% !important;
    justify-content: baseline;
  }

  .navTags {
    display: flex;
    justify-content: space-between !important;
  }

  .keyboardBar {
    font-size: 5px;
  }
}
@media (max-width: 680px) {
  .headNav {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    font-size: 10px !important; /* Make text smaller */
  }
  .navContact {
    justify-content: baseline;

    width: 100%;
  }
  .contact {
    font-size: 14px;
  }
}
/*-------------max-width: 1565px-------------*/
@media (max-width: 601px) {
  .headNav {
    padding-left: 1%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
  }
  

  .contact {
    font-size: 12px;
  }
  .card img {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
  }
}

@media (max-width: 1117px) {
  .navContact {
    width: 50%;
    justify-content: baseline;
  }
  .navTags {
    display: none;
  }
}
@media (max-width: 900px) {
  .keyboardBar {
    gap: 10px; /* Adds space between buttons */
  }

  .buttonP {
    min-width: 8em !important; /* Reduce button width for better spacing */
  }
}
@media (max-width: 755px) {
  .buttonP {
    min-width: 2em !important; /* Makes buttons even smaller */
  }
  .buttonP-top {
    font-size: 0.7rem; /* Reduces text size */
    padding: 5px 8px; /* Adjusts padding for a balanced look */
  }
  .card img {
    width: 70px !important;
    height: 70px !important;
    object-fit: contain;
  }

  .langLi {
    font-size: small;
  }
}
@media (max-width: 817px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  .main-L {
    display: flex;
    flex-direction: column !important; /* Ensure row layout */

    width: 100% !important; /* Make sure it stretches */
  }
  .introductionCont {
    width: 100% !important;
    height: auto;
  }

  .langUni {
    display: flex;
    flex-direction: row !important;
    width: 100%;
  }
}

@media (max-width: 796px) {
  .langLi {
    width: 100%;
  }
  .lang {
    
    font-size: xx-small !important;
  }
  .eduCont {
    font-size: small !important;
  }

  .edu {
    font-size: xx-small !important;
  }
  .langLi ul {
width: 100%;
}
 .langLi img {
    display: none;
  }
}

@media (max-width: 570px) {

 .buttonP-top {
 font-size: 6.5px;

}

}