.job-title{
  color: #e0f7fa;
text-shadow: 0 0 6px rgba(79, 195, 247, 0.5);
}
.screen{
font-family: "Courier New", monospace;
  color: #e0f7fa;
text-shadow: 0 0 6px rgba(79, 195, 247, 0.5)
}

.timeOrg{
color: #b3e5fc;
}