.job-title{
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px #ffffff;
}
.screen{
font-family: "Courier New", monospace;
  color: #33ff33;
  text-shadow: 0 0 2px #33ff33;
}

.timeOrg{
  color: aqua;
}